[package]
name = "rocket-web"
version = "0.1.0"
authors = ["mikefrostov <m.e.morozov1@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rocket = "0.4.5"
